<!DOCTYPE html>
<html>
  <head>
    <title>Detalle</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hola, mi nombre es <%= datosHeroes.nombre %> y soy <%= datosHeroes.profesion %>".</h1>    
  </body>
</html>
