<!DOCTYPE html>
<html>
  <head>
    <title>Creditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Realizado por Dominguez Gastón</h1>
  </body>
</html>
