<!DOCTYPE html>
<html>
  <head>
    <title>Detalle con Reseña</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= datosHeroes.nombre %></h1>  
    <h1> <% while (datosHeroes.resenia.lenght < 30) { %>
      <%= datosHeroes.resenia %>
    <% } %>
      ".</h1>    
  </body>
</html>